@using System.Runtime.InteropServices.ComTypes
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Genres";
}

<table id="genre-table" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/initTable.js"></script>
    <script>

        var myOptions = {
            table: '#genre-table',
            columns: [
                { 'data': 'id', 'name': 'Id', 'autoWidth': true },
                { 'data': 'name', 'name': 'Name', 'autoWidth': true },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Genres/Edit">Edit</a>'; }
                }
            ],
            dataSource: {
                url: '/Genres/LoadData',
                type: 'POST',
                datatype: 'json'
            }

        }
        $(function() {
            InitTable(myOptions);
        });

    </script>
}

