@model Library.Web.ViewModels.GenreViewModel

<form id="genreEdit">
    <label>Genre Name: </label>
    <input type="text" value="@Model.Name" name="Name"  />
    <input type="hidden" value="@Model.Id" name="Id"/>
</form>

