@model Library.Web.ViewModels.GenreViewModel

<form>
    <label>Genre Name: </label>
    <input type="text" value="@Model.Name" name="Name" id="nameBox"/>
    <input type="hidden" value="@Model.Id" id="idBox"/>
    <button type="button">Save</button>
</form>
