@{
    ViewData["Title"] = "All Books";
    Layout = "_Layout";
}



<ul data-bind="foreach: model.books" class="book-list">
    <li class="single-book">
        <img class="book-img" data-bind="attr:{src: '/images/' + id + '.png'}" width="104" height="179"/>
        Book name: <span data-bind="text: name"></span>
        <br/>
        Publisher name: <span data-bind="text: publisherName"></span>
    </li>
</ul>


@section Scripts
{
    <script src="~/js/Knockout.js"></script>
    <script src="~/js/app/viewBooks.js"></script>
}

