@{
    ViewData["Title"] = "Users";
}

<table id="user-table" class="table table-striped" style="width: 100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


@section Scripts
{
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/initTable.js"></script>
    <script src="~/js/app/manageUsers.js"></script>
    <script src="~/js/ajaxRequests.js"></script>
}